body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://lh3.googleusercontent.com/proxy/EeOIeegh309JE0efZDj6EbU7O_05Crd6NGxRfM7BTX2C1H6vIq58391pyAaRE_tpTiiUfxZi-ysQ0Fn6N3NKWPnofsYaCuP9DNb0b66fx5JiNC8dSoue7JfZA1kjPlrjnmlr');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}